@font-face {
    font-family: defFont;
    src: url(font/DroidSansMono.ttf);
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

*:not(.selectable) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#ui-toggle-container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    height: 2em;
}

#ui-toggle-button {
    position: relative;
    float: left;
    font-size: 1em;
}

#ui-tip {
    position: relative;
    float: right;
    margin-left: 0.5em;
    bottom: 1em;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;

    transform: translateX(-50%) translateY(-50%);
}

.tip {
    font-family: defFont;
    font-size: 1em;
    font-style: italic;
    color: #d5d5d5;
    padding: 0.5em;

    border: 1px dashed #d5d5d5;
    animation: fadeIn 500ms ease;
}

#fr-tip {
    position: absolute;
    width: 15em;
    top: 2em;
    left: 2em;
}

#fr-tip span {
    color: #00DB19;
}

#color {
    position: absolute;
    display: block;
    left: 5em;
    top: 50%;
    transform: translateY(-50%);
}

#color-title {
    position: relative;
    display: block;
    font-family: defFont;
    font-size: 1.3em;
    font-style: italic;
    color: #d5d5d5;
    text-align: center;
}

#color-presets {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
}

#color-presets li {
    margin: 0.2em;
    padding: 0.2em;
    font-family: defFont;
    color: #212121;
    text-align: center;
    line-height: 5em;
    width: 5em;
    height: 5em;
    background: #FF0000;
    cursor: pointer;

    transition: border-radius 200ms ease;
}

.color-active {
    border-radius: 10px;
}

#color-presets li span {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
    line-height: normal;
}

#color-custom {
    display: none;
    margin-top: 2.5em;
}

.color-container {
    position: relative;
    color: #FFF;
}

.color-container p {
    float: left;
    clear: both;
    padding: 0 1em;
    font-size: 1em;
    font-family: defFont;
}

#color-red-container p {
    color: #FF0000;
}

#color-green-container p {
    color: #00FF00;
}

#color-blue-container p {
    color: #0000FF;
}

.color-input {
    border: none;
    background: #d1d1d1;
    width: 5em;
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    font-family: defFont;
    float: right;
}

button {
    font-size: 1.5em;
    font-family: defFont;
    text-align: center;
    padding: 0.5em;
    border: none;
    background-color: #d1d1d1;
    cursor: pointer;
    transition: border-radius 200ms ease, background-color 200ms ease;
}

button:active {
    border-radius: 10px;
    background-color: #FFF;
}

button:focus {
    outline: none;
}

#framerate-counter {
    position: absolute;
    top: 2em;
    right: 2em;

    font-size: 1.2em;
    font-family: defFont;
    text-align: center;
    padding: 0.5em;
    border: none;
    background-color: #d1d1d1;

}

#regen-button {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
}

#color-custom-button {
    position: relative;
    display: block;
    top: 1em;
    font-size: 1.2em;
    left: 50%;
    transform: translateX(-50%);

}
